<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.springxml.model.Jio" id="j" />
    <bean class="com.springxml.model.Airtel" id="a" />
    <bean class="com.springxml.model.VI" id="v" />

</beans>
